{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Probando git veamos si funca... -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>I-love-Pet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Eczar&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/flexbox.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'lightbox/css/lightbox.css' %}" />
    <script src="{% static 'lightbox/js/lightbox-plus-jquery.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <script src="{% static 'JS/comunas.js' %}"></script>
    <script src="{% static 'JS/validaciones.js' %}"></script>
    <script src="{% static 'JS/scripts.js' %}"></script>
    <script src="{% static 'slick/slick.js' %}"></script>
</head>

<body>
    <!-- overlay login -->
    <div class="overlay" id="overlay">
        <div class="popup active" id="popup">
            <h3>Inicia Sesión</h3>
            <h4>en I Love Pet </h4>
            <form action="" method="POST">
                {%  csrf_token %}
                {% if form.error_messages %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Advertencia: </strong> {{ form.get_invalid_login_error }}
                </div>
                {% endif %}
                <div class="contenedor-inputs">
                    {{ form.username }}
                    {{form.password}}
                    <!-- <input type="text" placeholder="Usuario" id="userTxt" name="username">
                    <input type="password" placeholder="Contraseña" id="userPwd" name="password"> -->
                </div>
                <input type="submit" class="btn-submit" value="Entrar">
            </form>
            <a class="btn" style="color:red" href="{% url 'password_reset'%}">¿Olvidaste tu contraseña? <u> Recuperala aquí...</u></a>
            <br><br>
            <a href="{% url 'home' %}">
                <button class="btn btn-primary" style="width: 56%;">Sitio Invitado 
                    <i class="fas fa-home"></i>
                </button>
            </a>

        </div>
    </div>
    <script src="{% static 'JS/scripts.js' %}"></script>
</body>

</html>