{% extends 'web/perfil.html' %}
{% load static %}
{% block content %}
<br><br>
<div class="container-fluid">
    {% if mascotas%}
    <table class="table ">
        <thead class="thead-light">
            <tr>
                <th>Rut</td>
                <th>Nombre</td>
                <th>Sexo</td>
                <th>Fecha de Nacimiento</td>
                <th>Direccion</td>
                <th>Tipo</td>
                <th>Dueño</td>
                <th> Acciones</th>
            </tr>
        </thead>
        <tbody>
            
            {% for  mascota in mascotas %}
            <tr>
                <td>{{mascota.rutMascota}}</td>
                <td>{{ mascota.nombre}}</td>
                <td>{{ mascota.sexo}}</td>
                <td>{{ mascota.fechaNacimiento}}</td>
                <td>{{ mascota.direccion}}</td>
                <td>{{ mascota.tipo}}</td>
                <td>{{ mascota.dueno}}</td>
                <td>
                    <a class="btn btn-success" href="{% url 'historial_mascota' mascota.rutMascota%}">Historial</a>
                    <a class="btn btn-primary" href="{% url 'editar_mascota' mascota.rutMascota%}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'eliminar_mascota' mascota.rutMascota%}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <h1>No hay registros de mascotas</h1>
            <br><br>
            {% endif %}
        </tbody>
</div>
</table>

<div class="container-fluid">
    {% if mascotas%}
        <form action="{% url 'listado_mascotas' %}" method="get" class="form-group col-lg-12">
            <label class="col-md-1" for="featured">Sexo: </label>
            <select class="form-group col-md-2" name="featured">
                <option value="Macho">Macho</option>
                <option value="Hembra">Hembra</option>
            </select>
            <input class="btn-sm btn-default col-lg-1" type="submit" value="Filter" />
        </form>
        <form action="{% url 'listado_mascotas' %}" method="get" class="form-group col-lg-12">
            <label class="col-md-1" for="featured2">Tipo: </label>
            <select class="form-group col-md-2" name="featured2">
                {% for tipo in tipos %}
                <option value="{{tipo.id}}">{{tipo.nombre}}</option>
                {% endfor %}
            </select>
            <input class="btn-sm btn-default col-lg-1 " type="submit" value="Filter" />
        </form>
        {% endif %}
        <a href="{% url 'listado_mascotas' %}"><button class="btn-sm btn-info"> Listar todo</button></a>
</div>

{% endblock%}