{% extends 'web/base.html' %}

{% block content %}
    <div class="contenedor-descripcion">
        <h1>¡ Conoce Nuestros Planes ! </h1>
        <h2>Tenermos la mejor oferta de acuerdo a tus necesidades</h2>
        <p></p>
    </div>
    <!-- division donde tendrá lugar apartado de planes -->
    <div class="servicios-contacto">
        <div class="row around-lg">
            <!-- lista de planes 1 -->
            <div class="col-xs-12 col-md-4 divPla">
                <img src="https://joha-neira.github.io/ilovepet/img/imgPlanes.png" alt="Perrito al telefono" style="width:40%">
                <h1 class="heart"> Silver</h1><br><br>
                <ul class="lista-planes">
                    <li>Consulta general 30% dscto arancel</li>
                    <li>Consulta especialidad 25% de dscto de arancel</li>
                    <li>Desparasitaciones: 40% de descto de arancel</li>
                    <li>Exámenes laboratorio: 25% de descto en arancel</li>
                    <li>Hospitalización: 25% de descto en arancel</li>
                    <li>Valor mensual: $8.000</li>
                </ul>
                <br><br>
                <img src="https://joha-neira.github.io/ilovepet/img/webpay.jpg" alt="Perrito al telefono" style="width:50%">
            </div>
            <!-- lista de planes 2 -->
            <div class="col-xs-12 col-md-4 divPla">
                <img src="https://joha-neira.github.io/ilovepet/img/imgPlanes.png" alt="Perrito al telefono" style="width:40%">
                <h1 class="heart"> Gold</h1><br><br>
                <ul class="lista-planes">
                    <li>Consulta general: 50% dscto de arancel</li>
                    <li>Consulta especialidad: 40% de dscto de arancel</li>
                    <li>Desparasitaciones: 60% de descto </li>
                    <li>Exámenes laboratorio: 40% de descto en arancel</li>
                    <li>Hospitalización: 40% de descto en arancel</li>
                    <li>Valor mensual: $15.000</li>
                </ul>
                <br><br>
                <img src="https://joha-neira.github.io/ilovepet/img/webpay.jpg" alt="Perrito al telefono" style="width:50%">
            </div>
            <!-- lista de planes 3 -->
            <div class="col-xs-12 col-md-4">
                <img src="https://joha-neira.github.io/ilovepet/img/imgPlanes.png" alt="Perrito al telefono" style="width:40%">
                <h1 class="heart"> Platinum</h1><br><br>
                <ul class="lista-planes">
                    <li>Consulta general: 70% de arancel</li>
                    <li>Consulta especialidad: 60% de dscto de arancel</li>
                    <li>Desparasitaciones: 1 Gratis cada 3 meses</li>
                    <li>Exámenes laboratorio: 70% de descto en arancel</li>
                    <li>Hospitalización: 60% de descto en arancel</li>
                    <li>Valor mensual: $25000</li>
                </ul>
                <br><br>
                <img src="https://joha-neira.github.io/ilovepet/img/webpay.jpg" alt="Perrito al telefono" style="width:50%">
            </div>
        </div>
    </div>
   {% endblock %}